.upload-photo{
    border-radius: 4px;
    text-align: center;
    color: #999;
    font-size: 14px;
}
.upload-photo i{
	 display: inline-block;
    margin-bottom: 20px;
    color: #ccc;
}
.input-line{
	text-align: center;
}
.input-line h2{
	font-size: 12px;
	margin-top: 10px;
}
.input-line input[type=text]{
	width: 300px;
}
.input-line textarea{
	width: 300px;
	height: 100px;
}
.input-line .btn{
	width: 100px;
	height: 40px;
}

.newBtn{
	color: #fff;
	background-color: #ED969E;
}
